<!DOCTYPE html>
<html lang="en" class="antialiased system {{ if .Params.dark }} bg-gray-900 {{end}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/plus-assets/img/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/plus-assets/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/plus-assets/img/favicon/favicon-16x16.png" />

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="https://cdn.usefathom.com/script.js" data-site="SOXJJCZQ" data-auto="false" defer></script>
    <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <!-- <link rel="preload" as="style" href="https://tailwindcss.com/plus-assets/build/assets/app-CIt_yhIr.css" />
    <link rel="modulepreload" href="https://tailwindcss.com/plus-assets/build/assets/app-AgQAVQiK.js" />
    <link rel="modulepreload" href="https://tailwindcss.com/plus-assets/build/assets/client-ChDcy-h8.js" /> -->
    <!-- <link rel="stylesheet" href="https://tailwindcss.com/plus-assets/build/assets/app-CIt_yhIr.css" /> -->
    {{ partialCached "css.html" . }}
    <!-- <script type="module" src="https://tailwindcss.com/plus-assets/build/assets/app-AgQAVQiK.js"></script>
    <script src="https://tailwindcss.com/_next/static/chunks/593520b5-0a4b147f418a8ad2.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/7733-0f0727c60f4d5c11.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/main-app-dc310e686034b2de.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/3621f9d8-d2947e92eca5a3b5.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/4279-c5e301872b461aec.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/7018-165373a669236895.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/8948-06cb47a08a95a31a.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/3602-93f6ff02000f4620.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/1696-874ed4db6222baa1.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/7892-6f4e0813343b109c.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/1867-594369b131c69c50.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/9274-9096e2d085e2504d.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/app/(docs)/layout-99b228f12449e942.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/6816-a40e0b5a4a86198e.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/3693-2cc8d25462655fbd.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/app/page-bba54c82bd4138b4.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/9568-c60fec21e907f6d4.js" async=""></script>
    <script src="https://tailwindcss.com/_next/static/chunks/app/layout-7affc687873763d6.js" async=""></script>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/0336a89fb4e7fc1d-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/162e1140ce5a788f-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/37581c031699de0a-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/44abb7d9d613e278-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/551ac2b2ce969c74-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/5ba23b2b0ac11fa6-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/5f4877925f1cef50-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/ba487c32d105d659-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/c91adde9f78caceb-s.p.woff2" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="https://tailwindcss.com/_next/static/media/dab80f54fa5deafc-s.p.woff2" as="font" crossorigin="" type="font/woff2"/> -->
</head>
<body>
    {{ block "main" . }}
    {{ end }}
</body>

</html>