<section class="mt-30">
    <h2 class="sr-only">Testimonials</h2>
    <div class="grid grid-cols-1 grid-rows-[auto_1fr] gap-x-10 max-lg:gap-y-10 lg:grid-cols-2 lg:gap-y-5">
        <figure
            class="group row-span-2 grid max-lg:mx-auto max-lg:max-w-3xl max-lg:gap-y-5 lg:grid-rows-subgrid lg:border-gray-950/5 lg:first:border-r lg:last:border-l">
            <blockquote
                class="max-lg:line-y lg:group-first:line-y mx-auto flex items-center px-8 py-2 text-xl/9 font-medium tracking-tight sm:px-16 sm:text-2xl/10">
                <p
                    class="relative before:pointer-events-none before:absolute before:top-4 before:-left-6 before:text-[6rem] before:text-gray-950/10 before:content-['“'] sm:before:-left-8 lg:before:text-[8rem]">
                    Tailwind Plus made it possible for me to ship the first version of Reflect entirely by
                    myself, while still being immensely proud of the design.</p>
            </blockquote>
            <figcaption
                class="max-lg:line-y lg:group-first:line-y grid grid-cols-[max-content_1fr] gap-6 px-8 py-2 sm:px-16">
                <img class="aspect-square size-14 rounded-full outline -outline-offset-1 outline-gray-950/5"
                    src="https://tailwindcss.com/plus-assets/img/testimonials/alex-maccaw.jpg" width="56" height="56" alt="">
                <div class="text-sm/7">
                    <p class="font-medium">Alex MacCaw</p>
                    <p class="text-gray-600">Founder of <a
                            class="font-semibold text-gray-950 underline decoration-sky-400 underline-offset-4 hover:text-sky-500"
                            href="https://reflect.app" target="_blank">Reflect</a> &amp; <a
                            class="font-semibold text-gray-950 underline decoration-sky-400 underline-offset-4 hover:text-sky-500"
                            href="https://clearbit.com" target="_blank">Clearbit</a></p>
                </div>
            </figcaption>
        </figure>
        <figure
            class="group row-span-2 grid max-lg:mx-auto max-lg:max-w-3xl max-lg:gap-y-5 lg:grid-rows-subgrid lg:border-gray-950/5 lg:first:border-r lg:last:border-l">
            <blockquote
                class="max-lg:line-y lg:group-first:line-y mx-auto flex items-center px-8 py-2 text-xl/9 font-medium tracking-tight sm:px-16 sm:text-2xl/10">
                <p
                    class="relative before:pointer-events-none before:absolute before:top-4 before:-left-6 before:text-[6rem] before:text-gray-950/10 before:content-['“'] sm:before:-left-8 lg:before:text-[8rem]">
                    Yet again Tailwind and Tailwind Plus are dramatically speeding up my frontend work. At
                    this point Tailwind Plus is hands-down the highest ROI digital asset I’ve ever bought.
                </p>
            </blockquote>
            <figcaption
                class="max-lg:line-y lg:group-first:line-y grid grid-cols-[max-content_1fr] gap-6 px-8 py-2 sm:px-16">
                <img class="aspect-square size-14 rounded-full outline -outline-offset-1 outline-gray-950/5"
                    src="https://tailwindcss.com/plus-assets/img/testimonials/ben-barbersmith.jpg" width="56" height="56" alt="">
                <div class="text-sm/7">
                    <p class="font-medium">Ben Barbersmith</p>
                    <p class="text-gray-600">CTO &amp; Co-Founder of <a
                            class="font-semibold text-gray-950 underline decoration-sky-400 underline-offset-4 hover:text-sky-500"
                            href="https://www.levellr.com" target="_blank">Levellr</a></p>
                </div>
            </figcaption>
        </figure>
    </div>
</section>